body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: linear-gradient(271.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  max-height: 100vh;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 87px 0;
}

.logo-links {
  display: flex;
  gap: 44px;
  align-items: center;
}

.head-links {
  display: flex;
  gap: 20px;
}

.head-links a {
  text-decoration: none;
  color: #B5B5B5;
  line-height: 20px;
  font-size: 14px;
}

.head-links a:hover {
  color: #F2994A;
  transition: 0.4s;
}

.head-buttons {
  display: flex;
  gap: 20px;
}

.main-btn {
  border: 1px solid #F2994A;
  border-radius: 4px;
  color: #F2994A;
  padding: 8px 29px;
  background-color: transparent;
  cursor: pointer;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.filled-btn {
  background-color: #F2994A;
  color: white;
  box-shadow: -11.09000015258789px 18.1299991607666px 36.648292541503906px 0px #F2994A21;

}